<section class="wrapper">
  <div class="wrapper_left">
    <div class="content"><div class="text">get&nbsp;in&nbsp;touch&nbsp;<span>have&nbsp;project&nbsp;in&nbsp;mind</span></div></div>
    <!-- /.content -->
    <div  class="about"></div>
    <!-- /.about -->
  </div>
  <!-- /.wrapper_left -->
  <div class="wrapper_content">
    <div class="wrapper_content_header">
      <div class="blow_title">
        <div class="h2">blow</div>
        <div class="menu_head">
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">work</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
      
    </div>
    <div class="blow-footer">
      <div class="work">explore work</div>
    </div>
  </div>
  <!-- /.wrapper_content -->
</section>